body,
html {
  font-family: "NanumSqare", Roboto, Helvetica, sans-serif;
}

.font {
  font-family: "NanumSquare Neo";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 13px;
  text-align: center;
}

.font-bold {
  font-family: "NanumSquare Neo";
  font-style: normal;
  font-weight: 350;
  font-size: 8px;
  line-height: 9px;
  text-align: center;
}

a {
  color: black;
  text-decoration: none;
}

body {
  background-color: white;
  /* padding: 24px; */
}

.scroll_lock {
  position: fixed;
  top: 0;
  overflow: hidden !important;
  width: 100%;
}
